.App{
    margin: 0 auto;
    width: 95%;
    padding: 2rem;
    outline: 1px dotted red;
}

form{
    width: 25%;
    margin: auto;
    h2{
        text-align: center;
    }
    .row{
      background-color: #f6f6f6;
      padding: 0.4rem;
      margin-bottom: 0.6rem;
      border-radius: 8px;
      label{
          display:inline-block;
          color: #bababa;
          width: 25%;
          text-align: center;
      }
      input{
          width:70%;
      }
    }
}

.form-data{
    width: 20%;
    margin: auto;
    padding: 2rem;
    h2{
        text-align: center;
    }
}