/* #root * {
    border: 3px solid black;
}

@mixin borders{
    border: 3px solid black;
    box-sizing: border-box;
}

.App{
    margin: 1rem auto;
    @include borders();
    width: 95%;
    overflow: hidden;
    padding: 1rem;
    background-color: #dddddd;
    header {
        background-color: #6aa84f;
        @include borders();
        width: 100%;
        height: 6.5rem;
    }
    nav{
        @include borders();
        display: inline-block;
        width: 26%;
        height: 26rem;
        background-color: #6fa8dc;
        margin-top: 1.5rem;
        vertical-align: top;
    }
    main{
        @include borders();
        display: inline-block;
        width: 72%;
        background-color: #e06666;
        margin-top: 1.5rem;
        margin-left: 2%;
    }
    .subcontent{
        @include borders();
        display: inline-block;
        width: (92%/3);
        height: 20rem;
        background-color: #ffd966;
        margin-left: 2%;
        margin-top: 2%;
    }
    .advertisement{
        @include borders();
        display: inline-block;
        width: 96%;
        height: 6.5rem;
        background-color: #b4a7d6;
        margin: 2%
    }
} */

$spacing: 24px;
$Appcolor: #dddddd;
$Headercolor:#6aa84f;
$navColor:#6fa8dc;
$mainColor:#e06666;
$subcontentColor:#ffd966;
$advertisementColor:#b4a7d6;

#root *{
    border: 3px solid black;
}

.App{
    /* overflow: hidden; */
    //para navegacion movil 
    height: 85vh;
    box-sizing: border-box;
    background-color: $Appcolor;
    display: grid;
    grid-template: 100px auto / repeat(4, 1fr);
    grid-template-areas:
    'header header header header'
    'nav main main main';
    gap: $spacing;
    margin: $spacing;
    padding: $spacing;


    header{
        background-color: $Headercolor;
        grid-area: header;
    }
    nav{
        background-color: $navColor;
        grid-area: nav;
        height: 26rem;
        align-self: flex-start;
    }
    main{
        background-color: $mainColor;
        grid-area: main;
        display: grid;
        grid-template: auto 100px / repeat(3, 1fr);
        gap: $spacing;
        padding: $spacing;
    }    
    .subcontent{
        background-color: $subcontentColor;
        form{
            display:grid;
            justify-content: center;
            gap:$spacing/2;
            padding: $spacing;
        }

    }
    .advertisement{
        background-color: $advertisementColor;
        grid-column: 1/4;       
    }
}

// .subcontent{
//     background-color: $subcontentColor;
//     form{
//         display:grid;
//         justify-content: center;
//         gap:$spacing/2;
//         padding: $spacing;
//     }

// }