.App {
  text-align: center;
  /* outline: 1px dotted red;; */
  width: 95%;
  margin: 1.5rem  auto;
}

.first-component{
  display: inline-block;
  width: 20%;
  border: 10px solid green;
  box-sizing: border-box;
  background-color: lavenderblush
}

.first-component h1{
  font-family: Impact;
  color: grey;
}

.first-component p{
   font-size: 1.5rem;
   color: lightblue;
}




